body {
  background: linear-gradient(to bottom, #9fa5d5, #ffffff);
  height: 100vh;
  margin: 0;
  padding: 0;
}

.home {
  text-align: center;
  padding-top: 250px;
  text-decoration: none;
}

.hallo {
  font-family: "Fredoka One", sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin: 0 auto;
}

.hallo2 {
  font-family: "Fredoka One", sans-serif;
  font-size: 50px;
  font-weight: bold;
  margin: 20px auto;
}

.btn-container {
  margin-top: 60px;
}

#login {
  letter-spacing: 4px;
  font-size: 20px;
  padding: 20px 50px;
}
.my-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 20px;
  border: none;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}
.my-button:hover {
  background: #14274e;
}
.first-button {
  background-color: #394867;
  padding: 20px 40px;
  border-radius: 30px;
}
.second-button {
  background-color: #394867;
  padding: 20px 40px;
  border-radius: 30px;
}

.admin {
  margin-bottom: 20px;
}
.tombol {
  margin-top: 40px;
}
.tombol a {
  font-size: 20px;
}
