body {
  background-image: url();
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 20px;
}

.form-container {
  width: 400px;
  padding: 20px;
  padding-left: 30px;
  background-color: #f8f9fa;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 10px 30px;
}

h1 {
  margin-bottom: 20px;
}

.form-control {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.center-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.center-button button {
  margin-right: 10px;
}

.btn {
  padding: 10px 20px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-size: 12px;
}

.btn-reset {
  background-color: #c82333;
}

.btn-save {
  background-color: #28a745;
}

.btn-back {
  background-color: #0056b3;
}
