body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}

h2 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

table {
    margin: 20px auto;
    background-color: #fff;
    border-collapse: collapse;
    max-width: 1000px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-size: 12px;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
}

tr:last-child td {
    border-bottom: none;
}

td.description {
    max-width: 250px;
    word-wrap: break-word;
    text-align: left;
}

.lunas {
    background-color: green;
    color: white;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
}

.belum-lunas {
    background-color: red;
    color: white;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
}