.container {
    width: 80%;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 20px;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

td, th {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
}

th:last-child, td:last-child {
    border-right: none;
}

table {
    margin: 0 auto;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.button-primary {
    background-color: red;
    margin-right: 10px;
}

.button-secondary {
    background-color: green;
}
